@mixin template-prototype {
	/*******************************
							Template
	*******************************/

	/*******************************
							Content
	*******************************/

	/*******************************
							Types
	*******************************/

	/*******************************
							Variations
	*******************************/

	/*******************************
							States
	*******************************/
}
