---
css         : 'template'
title       : 'Template'
description : 'I am empty until you give me stuff'
tags:
  - element
---

<h2 class="ui dividing header">Types</h2>

<h2 class="ui dividing header">Variations</h2>
